{% extends "base.html" %}
{% load static %}

{% block content %}
  <main id="main" class=""main>
      <h1> Statistics Page. </h1>

        <section class="section dashboard">
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-8">
                    <!-- start row -->
                    <div class="col-12">
                        <!-- start Day element -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">일별</h5>

                                <!-- Line Chart -->
                                <div id="dayChart">
                                </div>

                                <script>
                                jQuery(document).ready(function () {
                                  var record_day_list = "{{record_day_list}}".replace(/&#x27;/g, "\"");
                                  const json_record_day_list = JSON.parse(record_day_list);

                                  console.log(json_record_day_list);

                                  var graph_categories = [];
                                  var graph_data = [];

                                  for (var obj of json_record_day_list) {
                                    graph_categories.push(obj["month"] + '-' + obj["day"]);
                                    graph_data.push(obj["all_count"]);
                                  }

                                  const apexChart = "#dayChart";

                                  var options = {
                                      series: [{
                                        name: 'Sales',
                                        data: graph_data,
                                      },
                                      /*{
                                        name: 'Revenue',
                                        data: [11, 32, 45, 32, 34, 52, 41, 10]
                                      }, {
                                        name: 'Customers',
                                        data: [15, 11, 32, 18, 9, 24, 11]
                                      }*/
                                      ],
                                      chart: {
                                        height: 350,
                                        type: 'area',
                                        toolbar: {
                                          show: false
                                        },
                                      },
                                      markers: {
                                        size: 4
                                      },
                                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                      fill: {
                                        type: "gradient",
                                        gradient: {
                                          shadeIntensity: 1,
                                          opacityFrom: 0.3,
                                          opacityTo: 0.4,
                                          stops: [0, 90, 100]
                                        }
                                      },
                                      dataLabels: {
                                        enabled: false
                                      },
                                      stroke: {
                                        curve: 'smooth',
                                        width: 2
                                      },
                                      xaxis: {
                                        type: 'date',
                                        categories: graph_categories,
                                      },
                                      tooltip: {
                                        x: {
                                          format: 'MM/dd'
                                        },
                                      }
                                  };

                                  var chart = new ApexCharts(document.querySelector(apexChart), options);
                                  chart.render();
                                });

                                </script>
                                <!-- End Line Chart -->
                            </div>
                        </div>
                        <!-- End Day Element -->

                        <!-- Start Month element -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">월별</h5>

                                <div id="yearChart" style="min-height: 400px;" class="echart"></div>


                                <script>
                                    jQuery(document).ready(function () {

                                        var record_month_list = "{{record_month_list}}".replace(/&#x27;/g, "\"");
                                        const json_record_month_list = JSON.parse(record_month_list);

                                        console.log(json_record_month_list);

                                        var graph_categories = [];
                                        var graph_data = [];

                                        for (var obj of json_record_month_list) {
                                            //graph_categories.push(obj["month"] + '-' + obj["day"]);
                                            graph_data.push(obj["all_count"]);
                                        }

                                       const apexchart = "#yearChart"

                                       var options = {
                                          series: [{
                                          name: 'Inflation',
                                          data: graph_data,
                                        }],
                                          chart: {
                                          height: 350,
                                          type: 'bar',
                                        },
                                        plotOptions: {
                                          bar: {
                                            borderRadius: 10,
                                            dataLabels: {
                                              position: 'top', // top, center, bottom
                                            },
                                          }
                                        },
                                        dataLabels: {
                                          enabled: true,
                                          formatter: function (val) {
                                            return val;
                                          },
                                          offsetY: -20,
                                          style: {
                                            fontSize: '12px',
                                            colors: ["#304758"]
                                          }
                                        },

                                        xaxis: {
                                          categories: ["Jan(1)", "Feb(2)", "Mar(3)", "Apr(4)", "May(5)", "Jun(6)", "Jul(7)", "Aug(8)", "Sep(9)", "Oct(10)", "Nov(11)", "Dec(12)"],
                                          position: 'top',
                                          axisBorder: {
                                            show: false
                                          },
                                          axisTicks: {
                                            show: false
                                          },
                                          crosshairs: {
                                            fill: {
                                              type: 'gradient',
                                              gradient: {
                                                colorFrom: '#D8E3F0',
                                                colorTo: '#BED1E6',
                                                stops: [0, 100],
                                                opacityFrom: 0.4,
                                                opacityTo: 0.5,
                                              }
                                            }
                                          },
                                          tooltip: {
                                            enabled: true,
                                          }
                                        },
                                        yaxis: {
                                          axisBorder: {
                                            show: false
                                          },
                                          axisTicks: {
                                            show: false,
                                          },
                                          labels: {
                                            show: false,
                                            formatter: function (val) {
                                              return val + "%";
                                            }
                                          }

                                        },
                                        title: {
                                          text: '2022년 월별 유동인구',
                                          floating: true,
                                          offsetY: 330,
                                          align: 'center',
                                          style: {
                                            color: '#444'
                                          }
                                        }
                                        };

                                        var chart = new ApexCharts(document.querySelector(apexchart), options);
                                        chart.render();
                                    });
                                  </script>

                            </div>
                        </div>
                        <!-- End Month element -->

                    </div>
                    <!-- End Row -->
                </div>


                 <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Pie Chart -->
                  <div class="card">
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>

                    <div class="card-body pb-0">
                      <h5 class="card-title">Gender <span>| Male & Female</span></h5>

                      <div id="pieChart"></div>

                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#pieChart"), {
                            series: [45, 55],
                            chart: {
                              height: 350,
                              type: 'pie',
                              toolbar: {
                                show: true
                              }
                            },
                            labels: ['여자', '남자'],
                            colors: ['#FC0101', '#312BEA'],
                          }).render();
                        });
                      </script>


                    </div> <!-- End Pie Chart -->
                  </div><!-- End Budget Report -->


                    <!-- Website TodayTraffic -->
                  <div class="card">
                    <div class="filter">
                      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                      </ul>
                    </div>

                      <!-- Donut Chart -->
                    <div class="card-body pb-0">
                      <h5 class="card-title">Type Ratio <span>| Type of People</span></h5>

                      <div id="Donutechart" style="min-height: 400px;"></div>

                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          echarts.init(document.querySelector("#Donutechart")).setOption({
                            tooltip: {
                              trigger: 'item'
                            },
                            legend: {
                              top: '5%',
                              left: 'center'
                            },
                            series: [{
                              name: 'Access From',
                              type: 'pie',
                              radius: ['40%', '70%'],
                              avoidLabelOverlap: false,
                              label: {
                                show: false,
                                position: 'center'
                              },
                              emphasis: {
                                label: {
                                  show: true,
                                  fontSize: '18',
                                  fontWeight: 'bold'
                                }
                              },
                              labelLine: {
                                show: false
                              },
                              data: [{
                                  value: 1048,
                                  name: '직장인 추정'
                                },
                                {
                                  value: 735,
                                  name: '편의점 추정'
                                },
                                {
                                  value: 580,
                                  name: '커피숍 추정'
                                },
                                {
                                  value: 484,
                                  name: '기타'
                                },
                                {
                                  value: 300,
                                  name: '방문하지 않고 지나침'
                                }
                              ]
                            }]
                          });
                        });
                      </script>

                    </div>


                  </div><!-- End Website TodayTraffic -->
                </div>
            </div>
        </section>


      <!-- End Left side columns -->
  </main>

{% endblock content %}

</body>
</html>